@import url('../variable.css');

body{
    background-color: var(--backgroundColor);
}
form > *{
    margin: 5px;
    padding: 3px;
    font-family: var(--mainFont);
}

form{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 225px;
}
input{
    text-align: center;
    min-width: 500px;
}

@media (min-width: 0px) and (max-width: 1000px) 
{
    form{
        margin-top: 15%;
    }
    input{
        min-width: 80%;
    }
}