@import url(./variable.css);

body {
    background-color: var(--backgroundColor);
}

.ajout_article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.ajout_article_base {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ajout_article_base>div {
    width: 40%;
    margin-top: 50px;
    min-height: 200px;
}

#resumeText,
#commentaires {
    min-width: 250px;
    min-height: 150px;
    margin-top: 30px;
    padding: 5px;
    resize: none;
}

#resumeImg,
#commentairesImg {
    padding-top: 75px;
}

.poster {
    position: relative;
    width: 100%;
    min-height: 20vh;
}

.poster>.submit {
    position: absolute;
    right: 5%;
    top: 10%;
    padding: 10px;
}

@media (min-width: 0px) and (max-width: 1000px) {
    .ajout_article_base {
        flex-direction: column;
    }

    .ajout_article_base>div {
        width: 100%;
        min-height: 0px;
    }

    #resumeText,
    #commentaires {
        min-width: 0px;
        min-height: 0px;
        margin-top: 0px;
        padding: 5px;
        resize: none;
    }

    #resumeImg,
    #commentairesImg {
        padding-top: 5px;
    }

    .poster {
        min-height: 0vh;
    }

    .poster>.submit {
        margin: 20px;
        padding: 10px;
    }
}